<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script
      src="https://kit.fontawesome.com/3379299d20.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>
<header>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-3 col-sm-2 col-md-4 col-lg-2">
        <div class="logo-box"><img src="i/logo.png" alt=""></div>
      </div>
      <div class="col-5 col-sm-7 col-md-6 d-flex align-items-center justify-content-end d-block d-lg-none pe-md-4 pe-0">
        <div class="dropdown">
          <button class="btn bg-blue text-white fontw300 font-14 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> Contact </button>
          <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1" style="">
            <li class="py-0">
              <p class="font-14 text-white mb-0 ps-4 py-4 bg-green">Get in contact</p>
            </li>
            <li><a class="dropdown-item contact-dropdown" href="#">
              <div><img src="i/call.svg" alt=""></div>
              <div>
                <h6>Call us</h6>
                <p>Get in contact with a travel expert.</p>
                <p>Monday to Friday from 8:30 to 17:00 (CET)</p>
              </div>
              </a></li>
            <li><a class="dropdown-item contact-dropdown" href="#">
              <div><img src="i/messenger.svg" alt=""></div>
              <div>
                <h6>Facebook Messanger</h6>
                <p>Monday to Friday from 8:30 to 17:00 (CET)</p>
              </div>
              </a></li>
            <li><a class="dropdown-item contact-dropdown" href="#">
              <div><img src="i/chat-small.svg" alt=""></div>
              <div>
                <h6>Start a live chat</h6>
                <p>Monday to Friday from 8:30 to 17:00 (CET)</p>
              </div>
              </a></li>
            <li><a class="dropdown-item contact-dropdown" href="#">
              <div><img src="i/mail.svg" alt=""></div>
              <div>
                <h6>Send us an email</h6>
                <p>Monday to Friday from 8:30 to 17:00 (CET)</p>
              </div>
              </a></li>
            <li><a class="dropdown-item contact-dropdown" href="#">
              <div><img src="i/call.svg" alt=""></div>
              <div>
                <h6>See all contact possibilities</h6>
                <p>Monday to Friday from 8:30 to 17:00 (CET)</p>
              </div>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="col-4 col-sm-3 col-lg-8 col-md-2 d-flex justify-content-end mob-dir" style="
">
        <nav class="navbar navbar-expand-lg navbar-light" style="
">
          <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="navbar-collapse collapse" id="navbarNav" style="">
              <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link" href="#">Description</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Program</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Pricing Overview</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Photos &amp; video</a> </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="cart-icon-wrap d-flex align-items-center" style="
"><a href="#"><i class="fas fa-shopping-cart" aria-hidden="true"></i> </a></div>
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-2 d-flex align-items-center justify-content-end d-none d-lg-block">
        <div class="dropdown">
          <button class="btn bg-blue text-white fontw300 font-14 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> Contact </button>
          <ul class="dropdown-menu py-0 " aria-labelledby="dropdownMenuButton1">
            <li class="py-0">
              <p class="font-14 text-white mb-0 ps-4 py-4 bg-green">Get in contact</p>
            </li>
            <li><a class="dropdown-item contact-dropdown" href="#">
              <div><img src="i/call.svg" alt=""></div>
              <div>
                <h6>Call us</h6>
                <p>Get in contact with a travel expert.</p>
                <p>Monday to Friday from 8:30 to 17:00 (CET)</p>
              </div>
              </a></li>
            <li><a class="dropdown-item contact-dropdown" href="#">
              <div><img src="i/messenger.svg" alt=""></div>
              <div>
                <h6>Facebook Messanger</h6>
                <p>Monday to Friday from 8:30 to 17:00 (CET)</p>
              </div>
              </a></li>
            <li><a class="dropdown-item contact-dropdown" href="#">
              <div><img src="i/chat-small.svg" alt=""></div>
              <div>
                <h6>Start a live chat</h6>
                <p>Monday to Friday from 8:30 to 17:00 (CET)</p>
              </div>
              </a></li>
            <li><a class="dropdown-item contact-dropdown" href="#">
              <div><img src="i/mail.svg" alt=""></div>
              <div>
                <h6>Send us an email</h6>
                <p>Monday to Friday from 8:30 to 17:00 (CET)</p>
              </div>
              </a></li>
            <li><a class="dropdown-item contact-dropdown" href="#">
              <div><img src="i/call.svg" alt=""></div>
              <div>
                <h6>See all contact possibilities</h6>
                <p>Monday to Friday from 8:30 to 17:00 (CET)</p>
              </div>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="banner-sec">
  <div class="container">
    <h1>Experience Rome</h1>
  </div>
</section>
<section class="pricing-sec">
  <div class="container">
    <h2>Experiences for you</h2>
    <p class="font-16 m-0">stories with saveable itineraries that match your travel style </p>
    <div class="row py-4">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="pricing-box"> <img class="price-img" src="i/price-box-1.jpg" alt="">
          <div class="pricing-content">
            <h3> Discover Friesland </h3>
            <p> Along the coast and through the Inland</p>
            <div class="tour-overview">
              <p>Discover the unique nature of Friesland</p>
              <p>Small historic cities and wide views</p>
              <p>UNESCO World Heritage-listed Wadden Sea</p>
              <p>Small ship with max. 24 passengers</p>
            </div>
            <div class="tour_info">
              <div class="overview_time tour_info_item"> <img src="i/clock-img.svg" alt="img"> <span class="overview_time_text">8 days</span> </div>
              <div class="overview_reviews tour_info_item">
                <div class="overview_reviews_stars"><div class="tour-reviews"> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div></div>
                <span class="overview_reviews_text">2 Reviews</span> </div>
            </div>
            <div class="tour_info">
              <div class="overview_time tour_info_item"><img src="i/guidance.svg" alt="img"> <span class="overview_time_text"> Independent cycling</span> </div>
              <div class="overview_reviews tour_info_item">
                <div class="overview_reviews_stars diff-level-img"> <div class="tour-reviews"> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div></div>
                <span class="overview_reviews_text">Difficulty level 1</span> </div>
            </div>
            <div class="tour-overview-footer clear">
              <div class="tour-overview-price"> <span>From</span> <span class="overview-price">€999 p.p.</span> </div>
              <a href=""> <span>Details &amp; booking</span> </a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="pricing-box before-img">
          <div class="premium-special"><img src="i/diamond-img.svg" alt=""><span>Premium</span></div>
          <img class="price-img" src="i/price-box-2.jpeg" alt="">
          <div class="pricing-content">
            <h3> Discover Friesland </h3>
            <p> Along the coast and through the Inland</p>
            <div class="tour-overview">
              <p>Discover the unique nature of Friesland</p>
              <p>Small historic cities and wide views</p>
              <p>UNESCO World Heritage-listed Wadden Sea</p>
              <p>Small ship with max. 24 passengers</p>
            </div>
            <div class="tour_info">
              <div class="overview_time tour_info_item"> <img src="i/clock-img.svg" alt="img"> <span class="overview_time_text">8 days</span> </div>
              <div class="overview_reviews tour_info_item">
                <div class="overview_reviews_stars"> <div class="tour-reviews"> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div></div>
                <span class="overview_reviews_text">2 Reviews</span> </div>
            </div>
            <div class="tour_info">
              <div class="overview_time tour_info_item"> <img src="i/guidance.svg" alt="img"> <span class="overview_time_text"> Independent cycling</span> </div>
              <div class="overview_reviews tour_info_item">
                <div class="overview_reviews_stars diff-level-img"> <div class="tour-reviews"> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div></div>
                <span class="overview_reviews_text">Difficulty level 1</span> </div>
            </div>
            <div class="tour-overview-footer clear">
              <div class="tour-overview-price"> <span>From</span> <span class="overview-price">€999 p.p.</span> </div>
              <a href=""> <span>Details &amp; booking</span> </a> </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="pricing-box">
          <div class="premium-special special bg-green"><img src="i/star.svg" alt=""><span>Special</span></div>
          <img class="price-img" src="i/price-box-3.jpg" alt="">
          <div class="pricing-content">
            <h3> Discover Friesland </h3>
            <p> Along the coast and through the Inland</p>
            <div class="tour-overview">
              <p>Discover the unique nature of Friesland</p>
              <p>Small historic cities and wide views</p>
              <p>UNESCO World Heritage-listed Wadden Sea</p>
              <p>Small ship with max. 24 passengers</p>
            </div>
            <div class="tour_info">
              <div class="overview_time tour_info_item"> <img src="i/clock-img.svg" alt="img"> <span class="overview_time_text">8 days</span> </div>
              <div class="overview_reviews tour_info_item">
                <div class="overview_reviews_stars"> <div class="tour-reviews"> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div></div>
                <span class="overview_reviews_text">2 Reviews</span> </div>
            </div>
            <div class="tour_info">
              <div class="overview_time tour_info_item"> <img src="i/guidance.svg" alt="img"> <span class="overview_time_text"> Independent cycling</span> </div>
              <div class="overview_reviews tour_info_item">
                <div class="overview_reviews_stars diff-level-img"> <div class="tour-reviews"> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div></div>
                <span class="overview_reviews_text">Difficulty level 1</span> </div>
            </div>
            <div class="tour-overview-footer clear">
              <div class="tour-overview-price"> <span>From</span> <span class="overview-price">€999 p.p.</span> </div>
              <a href=""> <span>Details &amp; booking</span> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="movement-activity-sec">
  <div class="container">
    <h2 class="font-28">Your kind of Play</h2>
    <p class="font-16">These are some tours &amp; activities you will like</p>
    <div class="tour-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div class="row mb-5">
        <div class="col-12 col-sm-4">
          <div class="tour-img">
            <div class="heart-box"> <i class="far fa-heart" aria-hidden="true"></i></div>
            <img src="i/tour-img1.jpg" alt=""></div>
        </div>
        <div class="col-12 col-sm-8 px-4 px-sm-0">
          <div class="tour-detail">
            <h3 class=" font-22 lh32"> Vatican Museums, Sistine Chapel And Saint Peter's Basilica Semi-private Tour </h3>
            <span class="font-14"> Roma, Italy </span>
            <p class="font-16">Enjoy the best of the Vatican on a pleasant tour with a small group of max 8 people. Skip-the-line tickets for the Vatican Museums, Sistine Chapel and St. Peter's Basilica are included. This tour is family-friendly and kids under 6 can attend for free. Also, children under 18 have special discounts!</p>
            <div class="row justify-content-between">
              <div class="col-5 col-sm-3">
                <div class="tour-reviews"> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div>
                <span class="font-12 text-blue fw-bold">17 Reviews</span> </div>
              <div class="col-7 col-sm-9 justify-content-end d-flex align-items-center">
                <button class="tour-btn d-md-block d-none">Add to Trip</button>
                <button class="tour-btn">Read More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tour-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div class="row mb-5">
        <div class="col-12 col-sm-4">
          <div class="tour-img">
            <div class="heart-box"> <i class="far fa-heart" aria-hidden="true"></i></div>
            <img src="i/tour-img1.jpg" alt=""></div>
        </div>
        <div class="col-12 col-sm-8">
          <div class="tour-detail">
            <h3 class=" font-22 lh32"> Vatican Museums, Sistine Chapel And Saint Peter's Basilica Semi-private Tour </h3>
            <span class="font-14"> Roma, Italy </span>
            <p class="font-16">Enjoy the best of the Vatican on a pleasant tour with a small group of max 8 people. Skip-the-line tickets for the Vatican Museums, Sistine Chapel and St. Peter's Basilica are included. This tour is family-friendly and kids under 6 can attend for free. Also, children under 18 have special discounts!</p>
            <div class="row justify-content-between">
              <div class="col-5 col-sm-3">
                <div class="tour-reviews"> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div>
                <span class="font-12 text-blue fw-bold">17 Reviews</span> </div>
              <div class="col-7 col-sm-9 justify-content-end d-flex align-items-center">
                <button class="tour-btn d-md-block d-none">Add to Trip</button>
                <button class="tour-btn">Read More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tour-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div class="row mb-5">
        <div class="col-12 col-sm-4">
          <div class="tour-img">
            <div class="heart-box"> <i class="far fa-heart" aria-hidden="true"></i></div>
            <img src="i/tour-img1.jpg" alt=""></div>
        </div>
        <div class="col-12 col-sm-8">
          <div class="tour-detail">
            <h3 class=" font-22 lh32"> Vatican Museums, Sistine Chapel And Saint Peter's Basilica Semi-private Tour </h3>
            <span class="font-14"> Roma, Italy </span>
            <p class="font-16">Enjoy the best of the Vatican on a pleasant tour with a small group of max 8 people. Skip-the-line tickets for the Vatican Museums, Sistine Chapel and St. Peter's Basilica are included. This tour is family-friendly and kids under 6 can attend for free. Also, children under 18 have special discounts!</p>
            <div class="row justify-content-between">
              <div class="col-5 col-sm-3">
                <div class="tour-reviews"> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div>
                <span class="font-12 text-blue fw-bold">17 Reviews</span> </div>
              <div class="col-7 col-sm-9 justify-content-end d-flex align-items-center">
                <button class="tour-btn d-md-block d-none">Add to Trip</button>
                <button class="tour-btn">Read More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="insta-feed-sec">
  <div class="container">
    <h2 class="font-28">Instagram Feed</h2>
    <p class="font-16">Join the conversation with locals, influencers, and destination pros.</p>
    <div class="instagram-feed-box">
      <div class="row g-0">
        <div class="col-md-3 col-sm-4"><a href="#"><img src="i/insta-feed-1.jpg" alt=""></a></div>
        <div class="col-md-3 col-sm-4"><a href="#"><img src="i/insta-feed-2.jpg" alt=""></a></div>
        <div class="col-md-3 col-sm-4"><a href="#"><img src="i/insta-feed-3.jpg" alt=""></a></div>
        <div class="col-md-3 col-sm-4"><a href="#"><img src="i/insta-feed-4.jpg" alt=""></a></div>
        <div class="col-md-3 col-sm-4"><a href="#"><img src="i/insta-feed-5.jpg" alt=""></a></div>
        <div class="col-md-3 col-sm-4"><a href="#"><img src="i/insta-feed-6.jpg" alt=""></a></div>
        <div class="col-md-3 col-sm-4"><a href="#"><img src="i/insta-feed-1.jpg" alt=""></a></div>
        <div class="col-md-3 col-sm-4"><a href="#"><img src="i/insta-feed-2.jpg" alt=""></a></div>
      </div>
    </div>
  </div>
</section>
<section class="hotel-list-sec">
  <div class="container">
    <h2 class="font-28">Stay in style</h2>
    <p class="font-16">Places to stay that match your travel style.</p>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="price-heading">$138</div>
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/hotel-1.jpg" alt="">
            <p class="guest-house-absolute">guest house</p>
          </div>
          <div class="about-hotel">
            <h5>The Fifteen Keys Hotel</h5>
            <span>Room IT</span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div>
              <div>
                <h6> Outstanding, 10</h6>
                <span> based on 774 reviews</span> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="price-heading">$138</div>
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/hotel-2.jpg" alt="">
            <p class="guest-house-absolute">guest house</p>
          </div>
          <div class="about-hotel">
            <h5>The Fifteen Keys Hotel</h5>
            <span>Room IT</span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div>
              <div>
                <h6> Outstanding, 10</h6>
                <span> based on 774 reviews</span> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="price-heading">$138</div>
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/hotel-3.jpg" alt="">
            <p class="guest-house-absolute">guest house</p>
          </div>
          <div class="about-hotel">
            <h5>The Fifteen Keys Hotel</h5>
            <span>Room IT</span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div>
              <div>
                <h6> Outstanding, 10</h6>
                <span> based on 774 reviews</span> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="price-heading">$138</div>
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/hotel-4.jpg" alt="">
            <p class="guest-house-absolute">guest house</p>
          </div>
          <div class="about-hotel">
            <h5>The Fifteen Keys Hotel</h5>
            <span>Room IT</span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-starc text-silver t-sil" aria-hidden="true"></i> </div>
              <div>
                <h6> Outstanding, 10</h6>
                <span> based on 774 reviews</span> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="price-heading">$138</div>
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/hotel-1.jpg" alt="">
            <p class="guest-house-absolute">guest house</p>
          </div>
          <div class="about-hotel">
            <h5>The Fifteen Keys Hotel</h5>
            <span>Room IT</span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div>
              <div>
                <h6> Outstanding, 10</h6>
                <span> based on 774 reviews</span> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="price-heading">$138</div>
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/hotel-2.jpg" alt="">
            <p class="guest-house-absolute">guest house</p>
          </div>
          <div class="about-hotel">
            <h5>The Fifteen Keys Hotel</h5>
            <span>Room IT</span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div>
              <div>
                <h6> Outstanding, 10</h6>
                <span> based on 774 reviews</span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="restaurant-list-sec">
  <div class="container">
    <h2 class="font-28">Taste of the town</h2>
    <p class="font-16">The best the city has to offer for your taste profile.</p>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/restaurant-dish-1.jpg" alt="">
            <p class="guest-house-absolute">Taste</p>
          </div>
          <div class="about-hotel">
            <h5> Pizzarium Gabriele Bonci </h5>
            <span> Via della Meloria 43, 00136 Rome, Italy </span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div class="restaurant-review"> <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div> <span> 274 reviews</span> </div>
              <div> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/restaurant-dish-2.jpg" alt="">
            <p class="guest-house-absolute">Taste</p>
          </div>
          <div class="about-hotel">
            <h5> Pizzarium Gabriele Bonci </h5>
            <span> Via della Meloria 43, 00136 Rome, Italy </span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div class="restaurant-review"> <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div><span> 274 reviews</span> </div>
              <div> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/restaurant-dish-3.jpg" alt="">
            <p class="guest-house-absolute">Taste</p>
          </div>
          <div class="about-hotel">
            <h5> Pizzarium Gabriele Bonci </h5>
            <span> Via della Meloria 43, 00136 Rome, Italy </span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div class="restaurant-review"> <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div><span> 274 reviews</span> </div>
              <div> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/restaurant-dish-4.jpg" alt="">
            <p class="guest-house-absolute">Taste</p>
          </div>
          <div class="about-hotel">
            <h5> Pizzarium Gabriele Bonci </h5>
            <span> Via della Meloria 43, 00136 Rome, Italy </span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div class="restaurant-review"> <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div> <span> 274 reviews</span> </div>
              <div> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/restaurant-dish-1.jpg" alt="">
            <p class="guest-house-absolute">Taste</p>
          </div>
          <div class="about-hotel">
            <h5> Pizzarium Gabriele Bonci </h5>
            <span> Via della Meloria 43, 00136 Rome, Italy </span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div class="restaurant-review"> <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div><span> 274 reviews</span> </div>
              <div> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="hotel-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="guest-hotel">
            <div class="add-favourite">
              <div class="select-hotel"> <i class="fas fa-plus" aria-hidden="true"></i> <i class="far fa-heart" aria-hidden="true"></i> </div>
            </div>
            <img src="i/restaurant-dish-2.jpg" alt="">
            <p class="guest-house-absolute">Taste</p>
          </div>
          <div class="about-hotel">
            <h5> Pizzarium Gabriele Bonci </h5>
            <span> Via della Meloria 43, 00136 Rome, Italy </span>
            <div class="hotel-review d-flex justify-content-between align-items-end">
              <div class="restaurant-review"> <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star text-silver" aria-hidden="true"></i> </div> <span> 274 reviews</span> </div>
              <div> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4 mb-sm-0">
        <div class="footer-box footer-logo"> <img src="i/logo.png" alt="">
          <p>@2021 Sgb Noleggio Srl</p>
          <h4>Opening Time</h4>
          <p>9.00am - 7:00pm (Mon-Sun)</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-5 mb-sm-0">
        <div class="footer-box payment-card">
          <h4>Payment Methods</h4>
          <img src="i/payments-card.png" alt="">
          <h4 class="mt-3">Bicycl-e on the web!</h4>
          <div class="social-box"> <a href="#"> <i class="fab fa-facebook-f" aria-hidden="true"></i> </a> <a href="#"> <i class="fab fa-instagram" aria-hidden="true"></i></a> <a href="#"> <i class="fab fa-youtube" aria-hidden="true"></i></a> <a href="#"> <i class="fab fa-pinterest"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5 mt-md-0 mb-4 mb-sm-0">
        <div class="footer-box">
          <h4>Policy &amp; Terms of Use</h4>
          <ul class="list-unstyled">
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Biking Rules &amp; Safety</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-lg-0 mt-5 col-sm-6 mt-sm-5">
        <div class="footer-box">
          <h4>Contacts</h4>
          <p>Phone +39 3510043528<br>
            Email: info@bicycl-e.com</p>
          <h4>Locations</h4>
          <div class="textwidget">
            <p><strong>ROME</strong><br>
              1) VILLA BORGHESE: Lungotevere delle Armi 44<br>
              2) APPIA ANTICA: Via Appia Antica 175<br>
              3) TRASTEVERE: Via Francesco Benaglia 13 (Hostel Trustever)<br>
              4) PARCO TOR FISCALE: Vicolo dell’Acquedotto Felice 30</p>
            <p><strong>CASTELLI ROMANI</strong><br>
              1) CASTELGANDOLFO: Via dei Pescatori 9/a (Circolo Kayak Castelgandolfo)<br>
              2) ARICCIA: Piazzale dei Daini 1 (Parco Romano Biodistretto)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-title d-flex align-items-center" id="exampleModalLabel" style="
">
          <button class="popup-btn bg-green text-white border-0 m-0">Book/Contact</button>
          <div class="add-fav d-flex"> <a href="#"><i class="fas fa-plus" aria-hidden="true"></i></a> <a href="#"><i class="far fa-heart" aria-hidden="true"></i></a> </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-lg-7">
            <div class="popup-left-box">
              <div class="popup-content">
                <div class="tour-img">
                  <div class="heart-box"> <i class="far fa-heart" aria-hidden="true"></i></div>
                  <img src="i/tour-img1.jpg" alt=""></div>
                <img class="powered-by" src="i/Powered-by-logo.png" alt=""> </div>
              <div class="popup-content p-4">
                <h4>About This Tour</h4>
                <p>Enjoy the best of the Vatican on a pleasant tour with a small group of max 8 people. Skip-the-line tickets for the Vatican Museums, Sistine Chapel and St. Peter's Basilica are included. This tour is family-friendly and kids under 6 can attend for free. Also, children under 18 have special discounts!</p>
                <h4 class="mt-5">What To Expect</h4>
                <span>Itinerary</span>
                <p>This is a typical itinerary for this product</p>
                <p><span>Stop At:</span>Vatican Museums, Viale Vaticano, 00120 Vatican City Italy</p>
                <p>- Pinecone Courtyard - Pio Clementino Museum - Octagonal Courtyard and the Laocoon - Gallery of the Candelabra - Gallery of the Tapestries - Gallery of the Maps</p>
                <p>Duration: 1 hour 30 minutes</p>
                <p><span>Stop At:</span> Sistine Chapel, Viale Vaticano, 00165 Vatican City Italy</p>
                <p>- The Last Judgement by Michelangelo - Ceiling Frescoes</p>
                <p>Duration: 30 minutes</p>
                <p><span>Stop At:</span> Sistine Chapel, Viale Vaticano, 00165 Vatican City Italy</p>
                <p>- The Last Judgement by Michelangelo - Ceiling Frescoes</p>
                <p>Duration: 30 minutes</p>
                <h4 class="mt-5">Cancellation policy </h4>
                <p><i>For a full refund, cancel at least 24 hours in advance of the start date of the experience.</i></p>
              </div>
              <div class="popup-content p-4">
                <h4>Additional Information</h4>
                <ul class="information-box list-unstyled">
                  <li>Confirmation will be received at time of booking </li>
                  <li>Not wheelchair accessible</li>
                  <li>A dress code is required to enter the Vatican Museum and St. Peter's Basilica. No shorts or sleeveless tops allowed. Knees and shoulders MUST be covered for both men and women. You may risk refused entry if you fail to comply with these dress requirements; </li>
                  <li>St. Peter’s Basilica is an active church and can be closed unexpectedly for liturgical ceremonies or unforeseen circumstances. If closed, the time inside the Vatican Museums will be extended; </li>
                  <li>Spring and Summer Papal Audiences normally take place in the Square of Saint Peter on Wednesdays from 11:00 to 13:00. This may lead to restrictions in visiting both the Square and the Basilica on those dates. In case the time inside the Vatican Museums will be extended; </li>
                  <li>Stroller accessible </li>
                </ul>
                <h4 class="mt-5">What's Included </h4>
                <ul class="information-box2 list-unstyled">
                  <li>All taxes, fees and handling charges </li>
                  <li>Professional guide</li>
                  <li>Guaranteed to skip the long lines </li>
                  <li>Small-group tour (up to 6-8 people) </li>
                  <li>Entry/Admission - Vatican Museums </li>
                </ul>
                <h4 class="mt-5">What's Not Included</h4>
                <ul class="information-box3 list-unstyled">
                  <li>Gratuities</li>
                </ul>
              </div>
              <div class="popup-content p-4">
                <h4>Departure &amp; Return</h4>
                <strong>Departure Point </strong>
                <p>Caffè Vaticano, viale, Viale Vaticano, 100, 00192 Roma RM, Italy </p>
                <strong>Return Details </strong>
                <p>Saint Peter's Square, Piazza San Pietro, Città del Vaticano, Vatican City </p>
              </div>
              <div class="popup-content p-4">
                <h4>Related Tours</h4>
                <div class="row mb-3 mt-3">
                  <div class="col-12 col-md-3 tour-pics"> <img src="i/tour-pic-1.jpg" alt=""> </div>
                  <div class="col-12 col-md-9 mt-4 mt-md-0"> <a href="#">Private Tour of the Vatican with Museums, Sistine Chapel &amp; St Peter's Basilica</a>
                    <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i><i class="fas fa-star" aria-hidden="true"></i> <span class="font-12 m-0">1 Review</span> </div>
                    <div>
                      <p class="font-14">$ <span class="font-14"> 239.94</span></p>
                    </div>
                  </div>
                </div>
                <div class="row mb-3 mt-3">
                  <div class="col-12 col-md-3 tour-pics"> <img src="i/tour-pic-2.jpg" alt=""> </div>
                  <div class="col-12 col-md-9 mt-4 mt-md-0"> <a href="#">Private Tour of the Vatican with Museums, Sistine Chapel &amp; St Peter's Basilica</a>
                    <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i><i class="fas fa-star" aria-hidden="true"></i> <span class="font-12 m-0">1 Review</span> </div>
                    <div>
                      <p class="font-14">$ <span class="font-14"> 239.94</span></p>
                    </div>
                  </div>
                </div>
                <div class="row mb-3 mt-3">
                  <div class="col-12 col-md-3 tour-pics"> <img src="i/tour-pic-3.jpg" alt=""> </div>
                  <div class="col-12 col-md-9 mt-4 mt-md-0"> <a href="#">Private Tour of the Vatican with Museums, Sistine Chapel &amp; St Peter's Basilica</a>
                    <div> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i><i class="fas fa-star" aria-hidden="true"></i> <span class="font-12 m-0">1 Review</span> </div>
                    <div>
                      <p class="font-14">$ <span class="font-14"> 239.94</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-5">
            <div class="popup-right-box">
              <div class="popup-content p-4">
                <h4>Vatican Museums, Sistine Chapel And Saint Peter's Basilica Semi-Private Tour</h4>
                <span>Roma, Italy <a href="#" class="text-green text-underline">map</a></span>
                <p class="mt-4 text-center p-height">Our guide Alessandra was friendly and incredibly knowledgeable, filled our 3 hours with the highlights, but did not make us feel we were rushing. Her passion and enthusiasm for the experience was inspirational for both my wife and I. </p>
                <div class="star-box-popup text-center"> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> <i class="fas fa-star" aria-hidden="true"></i> </div>
                <p class="font-14 text-center mt-1">based on<a href="#" class="font-18 p-2 text-green">17 reviews</a></p>
                <div class="hour-box d-flex justify-content-evenly">
                  <div class="d-flex"> <span class="d-flex align-items-center">from:
                    <h6>$ 107.98</h6>
                    </span> </div>
                  <div> <span class="d-flex align-items-center"><i class="far fa-clock" aria-hidden="true"></i>
                    <h6> 3 hours</h6>
                    </span> </div>
                </div>
                <button class="popup-btn bg-green text-white border-0">check availability</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</html>
